@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Titan+One&display=swap');

body {
    background-color: #FDEEDC;
    font-family: 'Arima Madurai', cursive;
}

#pet-selection {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    color: #E38B29;
    font-size: 75px;
    text-shadow: 5px 5px #FFD8A9;
    margin: 30px;
    font-family: 'Titan One', cursive;
}

.subtitle {
    color: #F1A661;
    font-size: 30px;
    margin: 20px;
}

.pets {
    display: flex;
    gap: 10px;
}

.mokepon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    background-color: #FFD8A9;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    color: black;
}

.mokepon img {
    width: 120px;
}

input {
    display: none;
}

#pet-button {
    background-color: transparent;
    color: #F1A661;
    font-size: 20px;
    border: 2px solid #F1A661;
    border-radius: 25px;
    padding: 12px;
    margin-top: 50px;
    font-family: 'Titan One', cursive;
}