@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
    background-color: #FDEEDC;
    font-family: 'Titan One', cursive;
}

#pet-selection {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    color: #E38B29;
    font-size: 75px;
    text-shadow: 5px 5px #FFD8A9;
    margin: 30px;
}

.subtitle {
    color: #F1A661;
    font-size: 35px;
    margin: 10px;
}

.pets {
    display: flex;
    gap: 10px;
}

.mokepon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 100px;
    background-color: #FFD8A9;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    color: #F1A661;
}

.mokepon img {
    width: 100px;
}

input {
    display: none;
}

#pet-button {
    background-color: #F1A661;
    color: #FFD8A9;
    font-size: 15px;
    border: 1px solid #E38B29;
    padding: 10px;
    margin-top: 30px;
}