body {
    background-color: #FDEEDC;
}

.title {
    color: #E38B29;
    font-size: 50px;
    text-shadow: 2px 2px #F1A661;
}

.subtitle {
    color: #F1A661
}

#pet-selection {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mokepon {
    width: 100px;
    height: 100px;
    background-color: #FFD8A9;
    padding: 10px;
    box-sizing: border-box;
}

input {
    display: none;
}

#pet-button {
    background-color: #F1A661;
    color: #FFD8A9;
    font-size: 15px;
    border: 1px solid #E38B29;
    padding: 10px;
    margin-top: 30px;
}